.header{
    background: $header-bg;
    color:white;
}
.header--title {
    color:white;
    text-decoration: none;
    h1 {
        font-weight: 700;
    }
    &:hover {
        text-decoration: underline;
    }
}
.header__content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:$header-height;
    max-width: $site-max-width;
    margin:0 auto;
    padding: $space;
    h1 {
        margin:0;
    }
}
